@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/librebaskerville/v14/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxM.woff2) format('woff2');    
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    display: grid;
    grid-template-columns: auto 1fr;
    /* Adjust this according to your needs */
    align-items: center;
}

header>div {
    display: inline-block;
    /* Ensures the logo div and nav are inline */
}

nav {
    text-align: right;
    /* Aligns navigation to the right */
    padding: 60px;
}

#myButton {
    display: none;
}

nav a {
    color: #5d1d3a;
    background-color: #fff5f9;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #5d1d3a;
    margin: 0 10px;
    transition: background 0.3s, color 0.3s;
}

li.current-menu-item a {
    color: white;
    background-color: rgba(93, 29, 58, 1.5);
    /* Updated color */
    text-decoration: none;

}

nav a:hover {
    background: #3b1325;
    color: white;
}

ul.menuLinks {
    display: none;
    list-style-type: none;
    padding: 0;
}

ul.menuLinks,
ul.menuLinks.open {
    display: flex;
    justify-content: flex-end;
}


/* --- Hero Section --- */

.title-page {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 50px;
}

#hero {
    position: relative;
    text-align: center;
}

#hero img {
    width: 100%;
    height: auto;
    display: block;
}


#hero p {
    margin-top: 10px;
    font-style: italic;
    color: #1b1b1b;
}


#intro {
    padding: 40px 20px;
    background-color: #fff5f9;
    text-align: center;
}

#intro h1 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
}

#intro p {
    line-height: 1.6;
    color: #333;
}


/*--- Weather section---*/

/* NEwsletter and Weather Section */
#newsletter-weather {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* Aligns items at the top */
    margin: 20px 0;
    padding: 20px;
    background-color: #d4d4d4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
    /* Adds space between the flex items */
}

/* Newsletter section */
#newsletter {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#newsletter h2 {
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: #333;
}

#join {
    background-color: #5d1d3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

#join:hover {
    background-color: #43122a;
}

/* Current Weather Section */
#current-weather {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#current-weather h2 {
    margin-bottom: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color: #333;
}

#current-weather p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

figcaption {
    font-size: 0.9rem;
    color: #555;
}


#map {
    padding: 40px 20px;
    background-color: #fff5f9;
}

#map h2 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    text-align: center;
}

#map p {
    line-height: 1.6;
    color: #333;
}

#direction,
#map-container-home {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px 0;
}

#direction h2,
#map-container-home h2 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
}

#direction p,
#map-container-home p {
    line-height: 1.6;
    color: #333;
}

#direction {
    padding-top: 120px;
}

#directions-btn {
    background-color: #5d1d3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

#directions-btn:hover {
    background-color: #43122a;
}

#map-cards {
    display: flex;
    gap: 20px;
}


/*--- about page --- */

main {
    padding: 40px;
}

section {
    margin-bottom: 40px;
}

#basic-info {
    text-align: center;
}

#basic-info h1 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
}

#basic-info img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

#basic-info p {
    line-height: 1.5;
    color: #333;
    margin: 50px;
}

#basic-info em {
    font-style: italic;
    color: #1b1b1b;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

#facilities ul,
#activities ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#facilities ul li,
#activities ul li {
    margin-bottom: 10px;
}

#facilities-activities {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
}

.facilities-section,
.activities-section {
    margin: 0 225px;
    padding: 50px;
}


#facilities-activities ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.divider {
    width: 1px;
    background-color: #ddd;
    margin: 10px 20px;
}


#food-hotels {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Gap between food-card and hotel-card */
}

#food-card,
#hotel-card {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden;
}

/* Card styling */

#food-card .card-content,
#hotel-card .card-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Space between cards */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    flex: 1 1 calc(33.333% - 20px);
    /* Adjust the percentage based on the gap */
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width and height */
    /* Other card styles */
    /* Ensures content doesn't overflow */
}



.title-card {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
    padding-bottom: 10px;
}


.card .card-image {
    float: left;
    /* Float the image to the left */
    width: 40%;
    /* Adjust width as needed */
    margin-right: 50px;
    /* Add some margin between image and text */
}

.card .card-image img {
    width: 100%;
    /* Ensure image fills its container */
    border-radius: 8px;
    /* Rounded corners for image */
}

.card .card-details {
    overflow: hidden;
    /* Clear floats within the card details */
}

.card .card-details h2 {
    margin-top: 0;
    /* Remove margin from top of heading */
}

.card .card-details p {
    clear: left;
    /* Clear float to ensure paragraphs start below image */
    margin: 5px 0;
    /* Adjust margins for paragraphs */
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-content .card-image img {
    width: 100%;
    /* Make the image responsive within its container */
    max-width: 200px;
    /* Set a maximum width for the image */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 8px;
    /* Ensure rounded corners if needed */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*--- subscribe ---*/

/* Form Styles */

h1 {
    color: #1b1b1b;
    text-align: center;
    /* Center the title text */
    font-family: 'Playfair Display', serif;
}

form {
    margin: 2rem 10%;
    padding-left: 20%;
    /* Increased margin for larger screens */
}

label {
    display: block;
    font-size: 1rem;
    /* Increased font size for better readability on larger screens */
    color: purple;
    padding-top: .2rem;
}

h3 {
    font-size: 1.2rem;
    /* Increased font size */
    color: #7a4030;
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
select {
    display: block;
    margin: .5rem 0 1.5rem 0;
    /* Adjusted margin for better spacing */
    padding: .5rem;
    /* Increased padding for larger inputs */
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 1.2rem;
    /* Increased font size */
    color: #3D405B;
    width: 100%;
    /* Full width for better layout on larger screens */
    max-width: 600px;
    /* Maximum width to prevent overly large inputs */
}

input:required {
    border-left-color: #d70000;
}

input:focus {
    border-left-color: black;
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: #5d1d3a;
    color: white;
    border-radius: 1rem;
    padding: 1rem 2rem;
    /* Increased padding for larger buttons */
    margin: 2rem 0;
    font-size: 1.5rem;
    /* Increased font size */
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    /* Added cursor pointer for better UX */
}

input[type=submit]:hover {
    background-color: #555;
    /* Hover effect for better interactivity */
}


input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

.thankyou-container {
    max-width: 800px;
    margin: 0 auto 50px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.thankyou-container h1 {
    font-family: 'Libre Baskerville', serif;
    color: #333;
    margin-bottom: 20px;
}

.thankyou-container p {
    color: #555;
    margin-bottom: 20px;
}

.thankyou-container ul {
    list-style: none;
    padding: 0;
}

.thankyou-container li {
    color: #333;
    margin-bottom: 10px;
}

.thankyou-container li span {
    font-weight: bold;
    color: #023770;
    /* Example primary color */
}


footer {
    background-color: #5d1d3a;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #5d1d3a;
}

footer p {
    margin: 5px 0;
    color: #fff5f9;
}

/* Attribution Link Styling */
footer a {
    color: #ffd2ef;
    /* Bootstrap primary color or any shade of blue */
    text-decoration: none;
    /* Remove underline */
}

footer a:hover {
    text-decoration: underline;
    /* Add underline on hover */
    color: #b695ab;
    /* Darker shade of blue on hover */
}